.footer{
    background-color: #222;
    color:#fff;
}

.ul-footer-diogo{
    display: flex;
    justify-content: space-around;
    padding: 50px 0 1px 0;
    margin: 0;
}

.inicio-footer-diogo{
    list-style-type: none;
}
.inicio-h3-item-footer-diogo{
    list-style-type: none;
}
.inicio-h5-footer-diogo{
    line-height: 25px;
    margin-left: 7px;
    color: #C0C0C0;
}
.inicio-h5-footer-diogo:hover{
    color:#ec7125;
    cursor: pointer;
}
.diogo-novo-footer{
    color: #a9a9a9;
}
.logo-footer-diogo{
    height: 70px;
    width: 110px;
}
.lista-footer-diogo{
    margin: 15px;
}
.footer-diogo{
    padding: 3em 3em 1.5em 3em;
    text-align: center;
}
.icons-list-footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.icons-footer-diogo{
    color:#ec7125;
    margin: 10px;
    cursor: pointer;
}
.icons-footer-diogo:hover{
    color: #fff;
}
.style-copy-right-footer{
    color:#a9a9a9;
}
.ul-diogo-footer{
    display: "flex";
    justify-content:space-around;
    padding: 1em;
}
.li-footer-diogo{
    list-style-type: none;
}
.div-footer-diogo{
    height: 1px;
    border-radius: 7px;
    background-color:#909090;
    margin: 20px;
}