.modalLogin-titulo {
    font-size: 30px;
    font-style: italic;
}

.modalLogin-body {
    background-color: #E9CFA6;
}

.modalLogin-body-header {
    border-bottom-color: black;
}

.modalLogin-body-footer {
    border-top-color: black;
}

.modalLogin-input {
    font-size: 15px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid black;
    border-radius: 20px;
    transform: scale(1) !important;
}

.modalLogin-cadastro-texto {
    font-weight: 550;
    text-align: center;
}
  
.modalLogin-cadastro-link {
    text-decoration: none;
}

.modalLogin-button-redes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.modalLogin-button-fechar {
    background-color: #EC7125;
    border: none;
    width: 20%;
    height: 40px;
    transition: 0.2s;
}

.modalLogin-button-fechar:hover {
    transform: scale(1.025);
    background-color: #EC7125;
}